<div class="limiter animated fadeInRight">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form (ngSubmit)="newUser(regForm)" #regForm="ngForm" class="login100-form validate-form flex-sb flex-w">

                <span class="login100-form-title p-b-51">
                        Nueva cuenta
                    </span>

                <span class="text-danger animated fadeIn" *ngIf="regForm.submitted && regForm.controls['email'].errors">Ingresa email valido</span>
                <div class="wrap-input100 m-b-16">
                    <input [(ngModel)]="user.email" class="input100" type="email" name="email" placeholder="Email" required email>
                    <span class="focus-input100"></span>
                </div>

                <span class="text-danger animated fadeIn" *ngIf="regForm.submitted && regForm.controls['name'].errors">Campo obligatorio</span>
                <div class="wrap-input100 m-b-16">
                    <input [(ngModel)]="user.name" class="input100" type="text" name="name" placeholder="Name" minlength="1" required>

                    <span class="focus-input100"></span>
                </div>

                <span class="text-danger animated fadeIn" *ngIf="regForm.submitted && regForm.controls['pass'].errors">Campo obligatorio / min 6 caracteres</span>
                <div class="wrap-input100 m-b-16" data-validate="Password is required">
                    <input [(ngModel)]="user.password" class="input100" type="password" name="pass" placeholder="Password" minlength="6" required>
                    <span class="focus-input100"></span>
                </div>

                <div class="flex-sb-m w-full p-t-3 p-b-24">
                    <div class="contact100-form-checkbox">
                        <input [(ngModel)]="userRemember" class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                                Recordar usuario
                        </label>
                    </div>

                    <div>
                        <a routerLink="/login" class="txt1">
                                ¿Ya tienes cuenta? / Ingresar
                            </a>
                    </div>
                </div>

                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn" type="submit">
                            Crear cuenta
                        </button>
                </div>

            </form>
        </div>
    </div>